html {
  box-sizing: border-box;
  font-family: Georgia, serif;
  background-color: #f5f2f0;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

body {
  margin: 0;
  flex-direction: row;
  justify-content: space-between;
}

main ol {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
}

body main ol {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
   "col1 col2";
}

main h1, h2 {
  font-family: "Denk One";
  font-style: normal;
  color: #623b0c;
}

main ol li {
  list-style-type: none;
  width: 100%;
  padding: 1rem;
  border-radius: 8px;
  background-color: #ede3db;
  border: 2px #623b0c;
  border-style: solid;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

main a {
  color: #ede3db;
  background-color: #623b0c;
  text-decoration: none;
  padding: .6em;
  border-radius: 8px;
}

main h1 {
  margin: 1rem 1rem -.5rem 1rem;
}

main h2 {
  margin: 0 0 1.5rem;
}

main > ol p {
  flex-grow: 1;
}

img {
  margin-bottom: 1rem;
}
